<style type='text/css' media='screen'>
  canvas, img { display:block; margin-left: 1em; }
  textarea { display:block; margin:1em auto; }
</style>

<div class='container'>
  <div class='col-sm-8' id='left'>
    <div class='row'>
      <canvas id='canvas' width='720' height='576'>
        This text is displayed if your browser does not support HTML5 Canvas.
      </canvas>
    </div>
    <div class='row'>
      <div class='col-sm-1' id='radio_buttons'>
        <div class='radio'>
          <label>
            <input type='radio' name='radioName' id='json' value='json' checked>
            JSON
          </label>
        </div>
        <div class='radio'>
          <label>
            <input type='radio' name='radioName' id='xml' value='xml'>
            XML
          </label>
        </div>
      </div>
      <div class='col-sm-10'>
        <textarea class='form-control' rows='2' id='rectangle_details'></textarea>
      </div>
    </div>
  </div>
  <div class='col-sm-4' id='right'>

  </div>
</div>

<script>// <![CDATA[
init_dropzone();
init();
// ]]&gt;</script>
